<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&family=Open+Sans:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <title>Emerging Africa Email</title>
    <style>
        .wrapper {
            width: 1000px;
            margin: 0 auto;
            background: #f1f1f1;
            min-height: 900px;
        }

        .logo-wrapper {
            width: 100%;
            height: 64px;
            background: #F57921;
            text-align: center;
            padding-top: 5px;
            padding-bottom: 5px;
        }

        h3 {
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 120%;
            /* identical to box height, or 29px */

            text-align: center;

            color: #333333;

        }

        p.text {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 150%;
            /* or 21px */

            text-align: center;

            color: #666666;

        }

        .code-box {
            width: 64px !important;
            height: 64px !important;
            border-radius: 100%;
            background: #FFF6F5;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 39px;
            line-height: 47px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: right;

            /* Disabled Colour */

            color: #B3B3B3;

        }

        p.footer-text {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 10px;
            line-height: 150%;
            /* or 15px */

            text-align: center;

            color: #666666;

        }

        .footer-link a {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 100%;
            /* identical to box height, or 12px */

            text-align: center;
            text-decoration-line: underline;

            color: #666666;
            padding-right: 15px;
            padding-left: 15px;

        }

        .footer-link a:not(:last-child) {
            border-right: 1px solid #C4C4C4;
        }

        .divider {
            border-bottom: 1px solid #E6E6E6;
            width: 240px;
        }

        .button {
            background: #F57921;
            border-radius: 8px;
            width: 203px;
            height: 56px;
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 800;
            font-size: 16px;
            line-height: 100%;
            /* identical to box height, or 16px */


            color: #FFFFFF;
            text-decoration: none;
            padding: 20px;
            border: 0;
            cursor: pointer;
        }
    </style>
</head>

<body>
    <div class="wrapper">
        <div class="logo-wrapper">
            <img src="https://i.ibb.co/0BHZKjk/logo-white.png" alt="">
        </div>
        <div
            style="margin-left: 10%; margin-right: 10%; background-color: #fff; text-align: center; margin-top: 5%; padding: 5%;">
            <img src="https://i.ibb.co/Bqy3sfh/email.png" alt="">
            <h3>admin Login</h3>

            <p class="text">Hello {{name}},  kindly note that you have been added to the EAC Venture admin list, click this on this link 
                <a href="{{url}}/login/{{password}}" target="_blank">
                    admin login
            </a>
             to login and access the admin dashboard provided for you or use the password {{password}} to access your admin account on the <a href="{{url}}/login" target="_blank">{{url}}</a> . If you did not make this request. 
                                            Kindly ignore the mail.</p>

            
            <a href="{{url}}/login/{{password}}" target="_blank">
                    <button style="margin-top: 10px;"  class="button">Login</button>
            </a>

            <center>
                <div class="divider"></div>

            </center>


            <p class="text" style="margin-top: 20px;">If you are having any issues, Kindly
                refer to our <br><a href="#" style="font-weight: bold; color: #666666;"> help</a>
                section or reply this mail.</p>

                <a href="#">


                    <button style="margin-top: 10px;"  class="button">Start Investing</button>
                </a>


        </div>
        <div style="margin-top: 50px; text-align: center;">
            <a href="https://facebook.com/" target="_blank"><img style="margin-right: 10px;"
                    src="https://i.ibb.co/NjrrNJj/facebook.png" alt="facebook" border="0"></a>
            <a href="https://instagram.com/" target="_blank"><img style="margin-right: 10px;"
                    src="https://i.ibb.co/Vwyj46C/instagram.png" alt="instagram" border="0"></a>
            <a href="https://linkedin.com/" target="_blank"><img style="margin-right: 10px;"
                    src="https://i.ibb.co/wZmHvND/linkedin.png" alt="linkedin" border="0"></a>
            <a href="https://twitter.com/" target="_blank"><img style="margin-right: 10px;"
                    src="https://i.ibb.co/3kXNJtz/twitter.png" alt="twitter" border="0"></a>
            <p class="footer-text" style="margin-top: 50px;">Copyright © 2022 Emerging Africa Group. All Rights
                Reserved. If<br> you wish to stop
                receiving this mail, click <a style="font-weight: bold; color: #666666" href="#">here</a> to unsubscribe
            </p>

            <div class="footer-link" style="margin-top: 30px;">
                <a href="https://eavc.netlify.app/">Website </a> <a
                    href="https://eavc.netlify.app/">FAQ</a> <a
                    href="https://eavc.netlify.app/">Privacy policy</a>
            </div>
        </div>
    </div>
</body>

</html>